@import-normalize;

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';


	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: 1em )
	));

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/audioproduction';
	@import 'components/author';
	@import 'components/blurb';
	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/hamburger';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/markdown';
	@import 'components/mini-post';
	@import 'components/post';
	@import 'components/resume';
	@import 'components/section';
	@import 'components/table';
	@import '../../components/Projects/Projects.css';

// Layout.

	@import 'layout/footer';
	@import 'layout/header';
	@import 'layout/intro';
	@import 'layout/main';
	@import 'layout/menu';
	@import 'layout/sidebar';
	@import 'layout/wrapper';

	@import 'pages/blog';
	@import 'pages/contact';
	@import 'pages/index';
	@import 'pages/notFound';
	@import 'pages/resume';
	@import 'pages/stats';
